doctype html
html(lang='en')
    head
        include includes/head

body(ng-app="MSLImageExplorerApp")


    .container-fluid

        block content

        block footer

    // build:js(.) scripts/vendor.js
    // bower:js
    // endbower
    script(src='bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js')
    script(src='bower_components/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.js')
    script(src='bower_components/dynamodb-doc/dynamodb-doc.min.js')
    // endbuild

    script(src='scripts/app.js')
    script(src='scripts/config.js')
    script(src='scripts/controllers/timeline.js')     
    script(src='scripts/controllers/top-voted.js')         
    script(src='scripts/controllers/favorites.js')             
    script(src='scripts/controllers/sidemenu.js')                 
    script(src='scripts/controllers/dialog.js')                         
    script(src='scripts/services/AWS.js')        
    script(src='scripts/services/mars-photos.js')            
    script(src='scripts/services/blueimp.js')                
    
    block scripts

