title= title
meta(charset='utf-8')
// build:css(.) styles/vendor.css
link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='bower_components/blueimp-gallery/css/blueimp-gallery.css')
link(rel='stylesheet', href='bower_components/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.css')
// bower:css
link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
// endbower
// endbuild

// build:css(.tmp) styles/main.css
link(rel='stylesheet', href='styles/timeline.css')
link(rel='stylesheet', href='styles/main.css')
// endbuild